doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Alec Dibble - Marketing And Technology Advice and Expertise
    link(rel="stylesheet" href="css/styles.css")

  body
    .nav
      .nav-title
        | Alec Dibble
      .nav-menu
        .nav-menu-wrapper
          .nav-menu-item
            a.nav-menu-link.nav-menu-link-active
              | About
          .nav-menu-item
            a.nav-menu-link
              | Blog
          .nav-menu-item
            a.nav-menu-link
              | Contact
        .nav-menu-button#nav-button
    .body-hr
    .body-clear
      .body-about
        p
          | Hey, my name is Alec Dibble. I am a web and software engineer. 
        p
          | My specialty in growth engineering, a set of skills required to help web businesses thrive and grow. Growth engineering requires specialties such as front-end development expertise, marketing automation and business intelligence integration, and analytics implementations to calculate conversion rates and track ROI.
        p
          | While getting my electrical engineering degree at UCSB, I did undergraduate research funded by the National Science Foundation. The research involved high speed control systems, which I presented as my senior project.
        p
          | If you are interested in learning more about my services, please click here to contact me.
    .body-hr
    .body-clear
      .body-about
        p
          | In my spare time, I enjoy exploring the outdoors, creating music, cooking and finding great food, and learning new skills. 
    .about-image


    .footer
      .footer-icons
        .footer-icon
          .footer-twitter
        .footer-icon
          .footer-linkedin
        .footer-icon
          .footer-github



    script(type='text/javascript', src='js/deps/jquery-1.11.1.min.js')
    script(type='text/javascript', src='js/deps/lodash.compat.min.js')
    script(type='text/javascript', src='js/deps/modernizr.js')
    script(type='text/javascript', src='js/site.js')
