doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Alec Dibble Consulting - Web Technology & Marketing Expertise
    meta(description="I provide web and marketing services. With an engineering degree and military tech background, I have a wide variety of projects in his portfolio.")
    include /includes/head.jade

  body
    include /includes/nav/nav-about.jade
    .body-clear.anim-from-bottom
      .body-about
        p
          | Hi, I'm Alec. I do 
          b
            | web engineering 
          | and 
          b
            | marketing 
          | in Los Angeles, CA.
        .alec-profile
        p
          | Coming from a background in high speed microelectronics and military test hardware, I gradually transitioned into web and marketing automation. I first started as a freelance contractor and then moved into full-time roles. Since then, I have provided consulting and freelance services for a variety of companies and projects. 
        p
          | I specialize in small and large-scale projects that ultimately drive revenue or KPI growth. With a wide-ranging background and full-stack experience, I can often implement projects or solve complex problems single-handedly. I also have in-house and remote (muti-timezone) management experience including training and project management.
        p
          | There is no one-size-fits-all solution to projects so I strive to think creatively about everything put in front of me. By understanding the strengths and weaknesses of many technologies, I can hand-pick the best ones for any situation. I always keep up to date with the latest web technologies so I can always provide relevant advice and direction to my clients.
        p
          | While getting my electrical engineering degree at UCSB, I did undergraduate research funded by the National Science Foundation. The research involved high speed control systems, which I presented as 
          a#home-flexsd(href="http://www.ece.ucsb.edu/~ilan/Classes/UCSB/ECE188_11-12/Posters/FlexSD.pdf" target="_blank")
            | my senior project.
        p
          | If you are interested in learning more about my services, please 
          a#home-bottom-contact(href="/contact")
            | click here
          | &nbsp;to contact me.
    .body-hr.anim-from-hidden 
    .body-clear.anim-from-bottom
      .body-about
        p
          | In my spare time, I enjoy exploring the outdoors, making music, cooking, great food, and learning new skills. 
    .about-image.anim-from-bottom

    include /includes/footer.jade 
