doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Alec Dibble Consulting - Marketing And Technology Advice and Expertise
    include /includes/head.jade

  body
    include /includes/nav.jade
    .body-clear
      .body-about
        p
          | Hey, my name is Alec Dibble. I am a web and software engineer. 
        p
          | My specialty in growth engineering, a set of skills required to help web businesses thrive and grow. Growth engineering requires specialties such as front-end development expertise, marketing automation and business intelligence integration, and analytics implementations to calculate conversion rates and track ROI.
        p
          | While getting my electrical engineering degree at UCSB, I did undergraduate research funded by the National Science Foundation. The research involved high speed control systems, which I presented as my senior project.
        p
          | If you are interested in learning more about my services, please click here to contact me.
    .body-hr
    .body-clear
      .body-about
        p
          | In my spare time, I enjoy exploring the outdoors, creating music, cooking and finding great food, and learning new skills. 
    .about-image

    include /includes/footer.jade
