doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Alec Dibble - Marketing And Technology Advice and Expertise
    include /includes/head.jade

  body
    include /includes/nav/nav-blog.jade
    .blog-post-outer
      .blog-post-title
        | Self Help
      .blog-post-date
        | January 28, 2014
      .blog-post-inner
        .blog-post-image
        .blog-post-content
          .blog-post-body
            p
              | Many people read self-help books for that little piece of information that will change their life. Whether it is the hidden secret to quick fat loss, the 2 steps to a higher IQ, or the click away to happiness. We are constantly being inundated by the promise that the methods described will solve all of your problems. 
            p
              | Rarely do people fail their New Year's Resolution solely based on their method to reach their goal. Likewise, rarely do people fulfill their New Year's Resolution solely based on their method. 
            p
              | When people read self-help books, they are combing for that secret method to fix all of their problems. Self-help isn't about research; that secret method isn't going to get you any closer to your goal. 
            p
              | The closest way to reach your goal is a change of perspective. You need encouragement, passion, and grit to make changes. These are not things that you can read and instantly "know". They are feelings that must be imparted. It's a state of mind that must be felt.
            p
              | Next time you read that self-help book, forget the tricks and the shortcuts and the "secret methods". Allow the author to get you excited about the possibility of changing yourself. Let the book be a wave of momentum you can continue to ride even after finishing.
    .body-hr

    include /includes/footer.jade