@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');$lato: 'Lato', sans-serif;


@mixin defaultFontSetting(){
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


%lato-black{
  @include defaultFontSetting();
  font-family: $lato;
  font-weight: 900;
}
%lato-bold{
  @include defaultFontSetting();
  font-family: $lato;
  font-weight: 700;
}
%lato-reg{
  @include defaultFontSetting();
  font-family: $lato;
  font-weight: 400;
}
%lato-reg-italic{
  @include defaultFontSetting();
  font-family: $lato;
  font-weight: 400;
  font-style: italic;
}
%lato-light{
  @include defaultFontSetting();
  font-family: $lato;
  font-weight:300;
}