//colors
$black: #474747;
$white: white;
$blue: #2196F3;
$blue-translucent: rgba(230, 243, 254, .7);

$primaryFill: $white;


//responsive
$phoneBreakpoint: 620px;
$tabletBreakpoint: 980px;
$desktopBreakpoint: 1024px;
$hugeBreakpoint: 1600px;


//layout
$containerWidth: 1600px;
