//colors
$black: #474747;
$white: #e5e5e5;
$blue: #2196F3;

$primaryFill: $white;


//responsive
$phoneBreakpoint: 620px;
$tabletBreakpoint: 980px;
$desktopBreakpoint: 1024px;
$hugeBreakpoint: 1600px;
