include /includes/body_top_pixels.html
.nav
  .nav-title.nav-title-hidden
    | Alec Dibble
  .nav-menu
    .nav-menu-wrapper
      .nav-menu-item
        a#blog-about(href="/").nav-menu-link
          | About
      .nav-menu-item
        a#blog-blog(href="/blog/").nav-menu-link.nav-menu-link-active
          | Blog
      .nav-menu-item
        a#blog-contact(href="/contact/").nav-menu-link
          | Contact
    .nav-menu-button#nav-button
.body-hr