include /includes/body_top_pixels.html
.nav.anim-from-bottom
  .nav-title.nav-title-hidden
    | Alec Dibble
    span.nav-title-sub
      | Consulting
  .nav-menu
    .nav-menu-wrapper
      .nav-menu-item
        a(href="/").nav-menu-link.nav-menu-link-active
          | About
      .nav-menu-item
        a(href="/blog/").nav-menu-link
          | Blog
      .nav-menu-item
        a(href="/contact/").nav-menu-link
          | Contact
    .nav-menu-button#nav-button
.body-hr.anim-from-hidden 