doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Alec Dibble - Marketing And Technology Advice and Expertise
    include /includes/head.jade

  body
    include /includes/nav/nav-blog.jade
    .blog-listings
      .blog-listing
        .blog-listing-image
        .blog-listing-content
          a#listing-self-help-1(href="/blog/self-help").blog-listing-title
            | Self Help
          .blog-listing-date
            | January 28, 2014
          .blog-listing-body
            | Many people read self-help books for that little piece of information that will change their life. Whether it is the hidden secret to quick fat loss, the 2 steps to a higher IQ, or the click away to happiness.
          a#listing-self-help-2(href="/blog/self-help").blog-listing-link
            | Read More >>
    .body-hr

    include /includes/footer.jade