doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Alec Dibble - Marketing And Technology Advice and Expertise
    include /includes/head.jade

  body
    include /includes/nav.jade
    .blog-listings
      .blog-listing
        .blog-listing-image
        .blog-listing-content
          a(href="#").blog-listing-title
            | This is a test blog title that is one line
          .blog-listing-date
            | January 25, 2017
          .blog-listing-body
            | This is definitely a test of a blog post. I think there is nothing compelling here but that is for you to decide. What do you think? Worth it?
          a(href="#").blog-listing-link
            | Read More >>
      .blog-listing
        .blog-listing-image
        .blog-listing-content
          a(href="#").blog-listing-title
            | This is a test blog title that is one line
          .blog-listing-date
            | January 25, 2017
          .blog-listing-body
            | This is definitely a test of a blog post. I think there is nothing compelling here but that is for you to decide. What do you think? Worth it?
          a(href="#").blog-listing-link
            | Read More >>
    .body-hr

    include /includes/footer.jade