.footer
  .footer-icons
    .footer-icon
      a(href="https://twitter.com/alecdibble" target="_blank").footer-twitter
    .footer-icon
      a(href="https://www.linkedin.com/in/alecdibble/" target="_blank").footer-linkedin
    .footer-icon
      a(href="https://github.com/alecdibble" target="_blank").footer-github

script(type='text/javascript', src='/js/site.js')